[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
"h5py" = "*"
scikit-learn = "*"
scikit-image = "*"
uproot = "*"
tensorflow = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.6"
